/* navber */
.btn-1:hover{
 background-color: black;
}
.btn-1{
    background-color: rgb(68, 146, 68); 
    color: white !important;
}
.nav-link:hover{
    color: rgb(68, 146, 68) !important;
}
.nav-link.active{
    color: rgb(68, 146, 68) !important;  
}
.offcanvas-header{
    background-color: #FFC94A !important ;
}
/* carousel */
.carousel-indicators button {
    height: 15px !important;
    width: 15px !important;
    /* margin: 0px 10px !important; */
    border-radius: 100%;
    background-color: rgb(255, 255, 255) !important;
}
.carousel-indicators .active{
    background-color: #FFC94A !important;
}
.carousel-item img{
   height: 100vh;
    width: 100% !important;
    object-fit: cover !important;
    
}
@media  only screen and (min-width: 200px) and (max-width: 991px) {
    .carousel-item img{
        height: 70vh;
    } 
}
.carousel-caption{
    padding-bottom: 5rem !important;
}


@media  only screen and (min-width: 200px) and (max-width: 600px) { 
    .carousel-caption{
      top: 8rem !important;
    }
 }
 @media  only screen and (min-width: 601px) and (max-width: 991px) { 
    .carousel-caption{
      top: 7rem !important;
    }
 }
 .btn-2{
    background-color: white;
    font-size: 3vh !important;
 }
 @media  only screen and (min-width: 200px) and (max-width: 991px) {
    .btn-2{
        font-size: 2vh !important;
    }
  }

 .btn-2:hover{
    background-color: black;
    color: white;
   }
   .carousel-caption h1{
    font-size: 4vw !important;
   }
   .carousel-caption h5{
    font-size: 2vw !important;
   }

   /* We Help Our Clients  */
   .wehelp{
        margin-top: 7vw;
        margin-left: -7vw;
        margin-bottom: 7vw;
   }
   @media  only screen and (min-width: 200px) and (max-width: 991px) { 
    .wehelp{
        margin-top: 7vw;
       margin-left: 0;
        margin-bottom: 7vw;
   }
   }
/* What Services */

   .services:hover{
    color: rgb(68, 146, 68) !important;
   }
   .service-card{
    @media  only screen and (min-width: 200px) and (max-width: 991px) {
       width: 50% !important;
       text-align: center;
    }
   }
   /* Welcome to Generic */
   .welcome{
    background-image: url(./client\ meet.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    

   }
   .welcome-div{
    /* float: right; */
    margin-left: 70%;
    width: 30%;
    
   }
   @media  only screen and (min-width: 601px) and (max-width: 991px) { 
    .welcome-div{
        /* float: right; */
        margin-left: 60%;
        width: 40%;
        
       }

   }
   @media  only screen and (min-width: 200px) and (max-width: 600px) { 
    .welcome{
        background-image: url(./client\ meet.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
      
       
        
    
       }

   }