/* navber */
.btn-1:hover{
 background-color: black;
}
.btn-1{
    background-color: rgb(68, 146, 68); 
    color: white !important;
}
.nav-link:hover{
    color: rgb(68, 146, 68) !important;
}
.nav-link.active{
    color: rgb(68, 146, 68) !important;  
}
.offcanvas-header{
    background-color: #F1C93B !important ;
}
/* carousel */
.carousel-indicators button {
    height: 15px !important;
    width: 15px !important;
    /* margin: 0px 10px !important; */
    border-radius: 100%;
    background-color: rgb(255, 255, 255) !important;
}
.carousel-indicators .active{
    background-color: #F1C93B !important;
}
.carousel-item img{
   height: 100vh;
    width: 100% !important;
    object-fit: cover !important;
    
}
@media  only screen and (min-width: 200px) and (max-width: 991px) {
    .carousel-item img{
        height: 70vh;
    } 
}
.carousel-caption{
    padding-bottom: 5rem !important;
}


@media  only screen and (min-width: 200px) and (max-width: 600px) { 
    .carousel-caption{
      top: 8rem !important;
    }
 }
 @media  only screen and (min-width: 601px) and (max-width: 991px) { 
    .carousel-caption{
      top: 7rem !important;
    }
 }
 .btn-2{
    background-color: white;
    font-size: 3vh !important;
 }
 @media  only screen and (min-width: 200px) and (max-width: 991px) {
    .btn-2{
        font-size: 2vh !important;
    }
  }

 .btn-2:hover{
    background-color: black;
    color: white;
   }
   .carousel-caption h1{
    font-size: 4vw !important;
   }
   .carousel-caption h5{
    font-size: 2vw !important;
   }

   /* We Help Our Clients  */
   .wehelp{
        margin-top: 7vw;
        margin-left: -7vw;
        margin-bottom: 7vw;
   }
   @media  only screen and (min-width: 200px) and (max-width: 991px) { 
    .wehelp{
        margin-top: 7vw;
       margin-left: 0;
        margin-bottom: 7vw;
   }
   }
/* What Services */

   .services:hover{
    color: rgb(68, 146, 68) !important;
   }
   .service-card{
    @media  only screen and (min-width: 200px) and (max-width: 991px) {
       width: 50% !important;
       text-align: center;
    }
   }
   /* Welcome to Generic */
   .welcome{
    background-image: url(./client\ meet.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    
    position: relative;

   }
   .welcome::before{
    background-size: cover;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(59, 59, 59, 0.55)
   }
   .welcome-div{
    /* float: right; */
    margin-left: 60%;
    width: 40%;
   
    
   }
   @media  only screen and (min-width: 601px) and (max-width: 991px) { 
    .welcome-div{
      
        margin-left: 60%;
        width: 40%;
        
       }

   }
   @media  only screen and (min-width: 200px) and (max-width: 600px) { 
    .welcome{
        background-image: none;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
       }
       .welcome-div{
        
        margin-left: 0;
        width: 100%;
        
       }

   }
   /* our business solution */
   .business:hover{
    background-color: black !important;
    color: white;
   }
   
   /* We Follow */
   .follow-div{
    background-color: rgb(68, 146, 68) !important ;
    color: white;
   }
/* Our Mission */
   .bg-mission{
    background-image: url(./bg-mission.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
   }
   .bg-mission::before{
    background-size: cover;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(93, 72, 72, 0.55)
   }
   /* Business Solutions */
   .find{
    color:  rgb(68, 146, 68) !important;
   }
   .solution-img{
    margin-right: -3vw;
    margin-top: 7vw;
    z-index: 1;
    position: relative;
   }
   
   /* Team Members */
   .social-icon{
    transition: transform .5s ease;
   }
   .social-icon:hover{
    background-color: rgb(68, 146, 68) !important ;
    color: white;
    transform: scale(1.2);
   }
   /* Keep Your Business */
   .social-icon-1{
    background-color: rgb(68, 146, 68) !important ;
    transition: transform .5s ease;
   }
   .social-icon-1:hover{
    transform: scale(1.2);
   }
/* Volunteer */
.Volunteer{
    background-color: rgb(68, 146, 68) !important;
   

}
.btn-3 {
    background-color: #F1C93B !important;

}
.btn-3:hover{
    background-color: black !important;
}
.Consulting{
    background-color: #F1C93B  !important;
}